<table cellpadding=0, cellspacing=0, border=0>
  <tr>
    <th>Role</th>
    <th># of Lines Spoken</th>
    <th>Longest Speech</th>
    <th># of Scenes</th>
    <th>% of Total Scenes</th>
  </tr>
</table>
